# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key

# Hugging Face
HF_TOKEN=hf_your-huggingface-token

# Telegram
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_ALLOWED_USERS=USERIDs
TELEGRAM_GROUP_ALLOWED_CHATS=CHATIDs

# Dashboard Basic Auth
HERMES_ADMIN_USER=admin
HERMES_ADMIN_PASSWORD=change-this-password
HERMES_ADMIN_RAND=change-this-random-secret